.App {
  text-align: center;
}

.title {
  flex: 1;
}

.posts-flex-item-1 {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
  display: flex;
}

.App-intro {
  font-size: large;
}

.posts-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.post-list-content {
  text-align: center;
}

.posts-list {
  width: 100%;
  padding: 0;
}

.posts-sub-title-text {
  text-align: center;
  margin-top: -5px;
  font-weight: 300;
  color: #444444;
}

.posts-title-text {
  margin: 15px;
  font-weight: 400;
  font-size: 36px;
  color: #444444;
}

.post-content {
  padding: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.parent {
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 50%;
  background-color: #fff;
  border-radius: 5px;
}
